server:
  port: 8087

spring:
  application:
    name: ead-authuser-service
  config:
    import: optional:configserver:http://localhost:8888
  datasource:
    url: jdbc:postgresql://localhost:5432/ead-authuser
    username: postgres
    password: root123
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        show_sql: true
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

eureka:
  client:
    serviceUrl:
      defaultZone: 'http://localhost:8761/eureka'
  instance:
    hostname: localhost

ead:
  auth:
    jwtSecret: ${EAD_AUTH_JWTSECRET:mySecretKey}
    jwtExpirationMs: ${EAD_AUTH_JWTEXPIRATIONMS:86400000}

logging:
  level:
    com.ead.authuser: DEBUG
    org.springframework.security: DEBUG
    org.hibernate.SQL: DEBUG